# Getting Financial Data - Pandas Datareader

### Introduction:

This time you will get data from a website.


### Step 1. Import the necessary libraries

In [2]:
import pandas as pd
import numpy as np
import datetime as dt
import pandas_datareader.data as web

### Step 2. Create your time range (start and end variables). The start date should be 01/01/2015 and the end should today (whatever your today is).

In [3]:
s = dt.date(2015,1,1)

In [4]:
e=dt.date.today()

In [5]:
s

datetime.date(2015, 1, 1)

In [6]:
e

datetime.date(2024, 4, 12)

### Step 3. Get an API key for one of the APIs that are supported by Pandas Datareader, preferably for AlphaVantage.

If you do not have an API key for any of the supported APIs, it is easiest to get one for [AlphaVantage](https://www.alphavantage.co/support/#api-key). (Note that the API key is shown directly after the signup. You do *not* receive it via e-mail.)

(For a full list of the APIs that are supported by Pandas Datareader, [see here](https://pydata.github.io/pandas-datareader/readers/index.html). As the APIs are provided by third parties, this list may change.)

### Step 4. Use Pandas Datarader to read the daily time series for the Apple stock (ticker symbol AAPL) between 01/01/2015 and today, assign it to df_apple and print it.

In [17]:
apple = web.get_data_alphavantage('AAPL',start=s,end=e,api_key="M9DLDAKTEIRTGBMV")

### Step 5. Add a new column "stock" to the dataframe and add the ticker symbol

In [18]:
apple["Stock"] = "AAPL"

In [19]:
data

              open    high      low   close    volume Stock
2015-01-02  111.39  111.44  107.350  109.33  53204626  AAPL
2015-01-05  108.29  108.65  105.410  106.25  64285491  AAPL
2015-01-06  106.54  107.43  104.630  106.26  65797116  AAPL
2015-01-07  107.20  108.20  106.695  107.75  40105934  AAPL
2015-01-08  109.23  112.15  108.700  111.89  59364547  AAPL
...            ...     ...      ...     ...       ...   ...
2024-04-05  169.59  170.39  168.950  169.58  41975776  AAPL
2024-04-08  169.03  169.20  168.240  168.45  37216858  AAPL
2024-04-09  168.70  170.08  168.350  169.67  42231444  AAPL
2024-04-10  168.80  169.09  167.110  167.78  49709336  AAPL
2024-04-11  168.34  175.46  168.160  175.04  91070275  AAPL

[2334 rows x 6 columns]

### Step 6. Repeat the two previous steps for a few other stocks, always creating a new dataframe: Tesla, IBM and Microsoft. (Ticker symbols TSLA, IBM and MSFT.)

In [20]:
tesla = web.get_data_alphavantage('TSLA',start=s,end=e,api_key="M9DLDAKTEIRTGBMV")
ibm = web.get_data_alphavantage('IBM',start=s,end=e,api_key="M9DLDAKTEIRTGBMV")
ms = web.get_data_alphavantage('MSFT',start=s,end=e,api_key="M9DLDAKTEIRTGBMV")

In [21]:
tesla["Stock"] = "TSLA"
ibm["Stock"] = "IBM"
ms["Stock"] = "MSFT"

In [22]:
tesla

              open      high       low    close     volume Stock
2015-01-02  222.87  223.2500  213.2600  219.310    4764443  TSLA
2015-01-05  214.55  216.5000  207.1626  210.090    5368477  TSLA
2015-01-06  210.06  214.2000  204.2100  211.280    6261936  TSLA
2015-01-07  213.35  214.7800  209.7800  210.950    2968390  TSLA
2015-01-08  212.81  213.7999  210.0100  210.615    3442509  TSLA
...            ...       ...       ...      ...        ...   ...
2024-04-05  169.08  170.8600  160.5100  164.900  136439809  TSLA
2024-04-08  169.34  174.5000  167.7900  172.980  104039371  TSLA
2024-04-09  172.91  179.2200  171.9200  176.880  102327658  TSLA
2024-04-10  173.04  174.9300  170.0100  171.760   84532407  TSLA
2024-04-11  172.55  175.8800  168.5100  174.600   94515987  TSLA

[2334 rows x 6 columns]

In [23]:
ibm

              open     high       low   close   volume Stock
2015-01-02  161.31  163.310  161.0000  162.06  5525341   IBM
2015-01-05  161.27  161.270  159.1900  159.51  4880389   IBM
2015-01-06  159.67  159.960  155.1700  156.07  6145670   IBM
2015-01-07  157.20  157.200  154.0300  155.05  4701015   IBM
2015-01-08  156.24  159.044  155.5500  158.42  4240585   IBM
...            ...      ...       ...     ...      ...   ...
2024-04-05  188.59  190.320  188.0200  189.14  2012428   IBM
2024-04-08  189.24  190.240  188.9118  189.82  2673611   IBM
2024-04-09  190.54  191.250  186.6600  189.31  2790673   IBM
2024-04-10  187.42  187.915  185.5200  186.04  3081915   IBM
2024-04-11  186.04  186.795  184.5800  185.90  2861736   IBM

[2334 rows x 6 columns]

### Step 7. Combine the four separate dataFrames into one combined dataFrame df that holds the information for all four stocks

In [54]:
data = pd.concat([apple,ms,tesla,ibm])

In [56]:
data.index= pd.to_datetime(data.index)

### Step 8. Shift the stock column into the index (making it a multi-level index consisting of the ticker symbol and the date).

In [57]:
data=data.set_index([data.index,"Stock"])

### Step 7. Create a dataFrame called vol, with the volume values.

In [58]:
vol = data["volume"]

In [59]:
vol

            Stock
2015-01-02  AAPL     53204626
2015-01-05  AAPL     64285491
2015-01-06  AAPL     65797116
2015-01-07  AAPL     40105934
2015-01-08  AAPL     59364547
                       ...
2024-04-05  IBM       2012428
2024-04-08  IBM       2673611
2024-04-09  IBM       2790673
2024-04-10  IBM       3081915
2024-04-11  IBM       2861736
Name: volume, Length: 9336, dtype: int64

### Step 8. Aggregate the data of volume to weekly.
Hint: Be careful to not sum data from the same week of 2015 and other years.

In [70]:
vol= vol.unstack().resample("W").sum()

In [86]:
vol

Stock            AAPL       IBM       MSFT       TSLA
2015-01-04   53204626   5525341   27913852    4764443
2015-01-11  282868187  24440360  158596624   22622034
2015-01-18  304226647  23272056  157088136   30799137
2015-01-25  198737041  31230797  137352632   16215501
2015-02-01  465842684  32927307  437786778   15720217
...               ...       ...        ...        ...
2024-03-17  364748130  27466323  133587381  499381990
2024-03-24  361583938  23968505   96748672  418091163
2024-03-31  237622732  15383298   73362236  346873723
2024-04-07  233688457  12808073   85744235  536821185
2024-04-14  220227913  11407935   60899906  385415423

[485 rows x 4 columns]

### Step 9. Find all the volume traded in the year of 2015

In [85]:
vol.groupby(vol.index.to_period("Y")).sum().iloc[0,:]

Stock
AAPL    12940555229
IBM      1092007014
MSFT     8958354049
TSLA     1075987827
Name: 2015, dtype: int64