# Pokemon

### Introduction:

This time you will create the data.



### Step 1. Import the necessary libraries

In [1]:
import pandas as pd 
import numpy as np

### Step 2. Create a data dictionary that looks like the DataFrame below

In [2]:
raw_data = {"name": ['Bulbasaur', 'Charmander','Squirtle','Caterpie'],
            "evolution": ['Ivysaur','Charmeleon','Wartortle','Metapod'],
            "type": ['grass', 'fire', 'water', 'bug'],
            "hp": [45, 39, 44, 45],
            "pokedex": ['yes', 'no','yes','no']                        
            }

### Step 3. Assign it to a variable called pokemon

In [16]:
data = pd.DataFrame(raw_data)

### Step 4. Ops...it seems the DataFrame columns are in alphabetical order. Place  the order of the columns as name, type, hp, evolution, pokedex

In [7]:
def swap(ls,i1,i2):
    temp=ls[i1]
    ls[i1]=ls[i2]
    ls[i2]=temp

In [5]:
cols= data.columns.to_list()

In [10]:
cols

['name', 'type', 'hp', 'evolution', 'pokedex']

In [17]:
swap(cols,1,3)
swap(cols,1,2)

In [11]:
data=data[cols]

In [12]:
data

         name   type  hp   evolution pokedex
0   Bulbasaur  grass  45     Ivysaur     yes
1  Charmander   fire  39  Charmeleon      no
2    Squirtle  water  44   Wartortle     yes
3    Caterpie    bug  45     Metapod      no

### Step 5. Add another column called place, and insert what you have in mind.

In [18]:
data.loc[:,'place'] = ['outskirts','volcano','swamp','forest']

In [19]:
data

         name   evolution   type  hp pokedex      place
0   Bulbasaur     Ivysaur  grass  45     yes  outskirts
1  Charmander  Charmeleon   fire  39      no    volcano
2    Squirtle   Wartortle  water  44     yes      swamp
3    Caterpie     Metapod    bug  45      no     forest

### Step 6. Present the type of each column

In [20]:
data.dtypes

name         object
evolution    object
type         object
hp            int64
pokedex      object
place        object
dtype: object

### BONUS: Create your own question and answer it.